@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');

:root {
  --text-color: white;
  --text-size: 1.2rem;
  --calculator-color: rgb(19, 19, 19);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--text-size);
  font-family: Orbitron;
  border: none;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.calculator {
  padding: 40px 20px 20px;
  background-color: var(--calculator-color);
  min-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  /* align-items: center; */
  border-radius: 10px;
}

.screen{
  text-align: center;
  background-color: white;
  height: 85px;
  width: 100%;
  border-radius: 8px;
}

.section {
  display: flex;
  width: 100%;
}

/* Button Styles */
button {
  cursor: pointer;
}

.num-btn, 
.operator-btn {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

/* MIDDLE SECTION */
.buttons-div {
  display: flex;
  width: 100%;
}

.num-btn-div {
  background-color: rgb(75, 75, 75);
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  height: 300px;
  row-gap: 4%;
  column-gap: 8%;
  border-radius: 10px;
}
/* Button from 0 to 9 */
.num-btn{
  background-color: rgb(0, 0, 0);
  color: var(--text-color);
  transition: background-color 0.15s;
}
.num-btn:hover {
  background-color: rgb(45, 45, 45);
}
.num-btn:active {
  background-color: rgb(65, 65, 65);
}

/* Operator buttons */
.operator-btn-div {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.operator-btn {
  background-color: rgb(75, 75, 75);
  color: var(--text-color);
  transition: background-color 0.15s;
}
.operator-btn:hover {
  background-color: rgb(55, 55, 55);
}
.operator-btn:active {
  background-color: rgb(40, 40, 40);
}

/* BOTTOM SECTION */
.bottom {
  column-gap: 4%;
  margin-top: -10px;
}
.modify-btn {
  padding: 0px;
  flex-grow: 1;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(125, 125, 125);
  color: var(--text-color);
  transition: background-color 0.15s;
}
.modify-btn:hover {
  background-color: rgb(105, 105, 105);
}
.modify-btn:active {
  background-color: rgb(95, 95, 95);
}

.equal {
  width: 30px;
  border-radius: 30px;
}