@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');

:root {
  --text-color: white;
  --text-size: 1.2rem;
  --calculator-color: rgb(19, 19, 19);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--text-size);
  font-family: Orbitron;
  border: none;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.calculator {
  padding: 1.2em 1em;
  background-color: var(--calculator-color);
  min-width: 400px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  border-radius: 0.5em;
}

.screen{
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0.5em 0.9em;
  background-color: white;
  height: 85px;
  width: 100%;
  border-radius: 0.5em;
}
.screen p{
  font-size: 1.95rem;
}

.section {
  display: flex;
  width: 100%;
}

/* MIDDLE SECTION */
.buttons-div {
  display: flex;
  width: 100%;
}

.num-btn-div {
  background-color: rgb(75, 75, 75);
  padding: 0.7em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  height: 300px;
  row-gap: 4%;
  column-gap: 8%;
  border-radius: 0.5em;
}

/* Button Styles */
button {
  cursor: pointer;
}

.num-btn{
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
}

.operator-btn {
  width: 70%;
  height: 82%;
  border-radius: 49%;
  text-align: center;
  align-self: center;
  justify-self: center;
}

/* Button from 0 to 9 */
.num-btn{
  background-color: rgb(0, 0, 0);
  color: var(--text-color);
  transition: background-color 0.15s;
}
.num-btn:hover {
  background-color: rgb(45, 45, 45);
}
.num-btn:active {
  background-color: rgb(65, 65, 65);
}

/* Operator buttons */
.operator-btn-div {
  display: grid;
  grid-template-rows: repeat(1f, 4);
  width: 25%;
}

.operator-btn {
  background-color: rgb(75, 75, 75);
  color: var(--text-color);
  transition: background-color 0.15s;
}
.operator-btn:hover {
  background-color: rgb(55, 55, 55);
}
.operator-btn:active {
  background-color: rgb(40, 40, 40);
}

/* BOTTOM SECTION */
.bottom {
  column-gap: 4%;
  margin-top: -10px;
}
.modify-btn {
  flex-grow: 1;
  min-height: 60px;
  border-radius: 0.5em;
  background-color: rgb(125, 125, 125);
  color: var(--text-color);
  transition: background-color 0.15s;
}
.modify-btn:hover {
  background-color: rgb(105, 105, 105);
}
.modify-btn:active {
  background-color: rgb(95, 95, 95);
}

.equal {
  width: 30px;
  border-radius: 30px;
}

header {
  font-size: 2rem;
}

footer, header {
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(29, 29, 29);
}

@media (max-width: 400px) {
  .calculator{
    transform: scale(0.95);
  }
}

@media (max-width: 375px){
  .calculator{
    transform: scale(0.85);
  }
}

@media (max-width: 325px) {
  .calculator{
    transform: scale(0.75);
  }
}
